/.idea

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### LOAD TEST ###
loadtest/client/FE_Report.*

loadtest/server/api/be_client_report.*
loadtest/server/api/be_bottleneck_report.*

loadtest/server/chat/chat_client_report.*
loadtest/server/chat/chat_bottleneck_report.*

### HTTPS ###
private.key
certificate.crt

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### static files
**/objects

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

PRD.md

# CLAUDE
.claude/**/*.local.*