/.idea

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### LOAD TEST ###

loadtest/BE_Report.json
loadtest/FE_Report.json
loadtest/Chat_Report.json

loadtest/BE_Report.json.html
loadtest/FE_Report.json.html
loadtest/Chat_Report.json.html

### HTTPS ###
private.key
certificate.crt

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### static files
**/objects

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

PRD.md

# CLAUDE
.claude/**/*.local.*