[mysqld]
# Character Set
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake

# Slow Query Log Configuration
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow-query.log
long_query_time = 1
log_queries_not_using_indexes = 0
log_slow_admin_statements = 1
log_slow_replica_statements = 1

# Performance Schema for MySQL Exporter
performance_schema = ON
performance_schema_instrument = 'statement/%=ON'
performance_schema_consumer_statements_digest = ON
