{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy",
    "classProperties"
  ],
  "importOrder": [
    "^@src/(.*)?$",
    "^@common/(.*)?$",
    "^@event_worker/(.*)?$",
    "^@repository/(.*)?$",
    "^@app-types/(.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
