name: denamu-dev

include:
  - docker-compose.infra.yml

services:
  # NGINX 서비스
  nginx:
    build:
      context: ../nginx
      dockerfile: Dockerfile.dev
    ports:
      - "80:80"
      - "443:443"
    networks:
      - Denamu
    depends_on:
      - app
    volumes:
      - ../nginx/logs:/var/log/nginx
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf
      - ../static:/var/web05-Denamu/static
      - ../objects:/var/web05-Denamu/objects
    develop:
      watch:
        - path: ../nginx/nginx.conf
          action: restart
        - path: ../nginx/scripts/generate_cert.sh
          action: rebuild
    environment:
      TZ: "Asia/Seoul"
    profiles:
      - default

  # Client 서비스
  web:
    build:
      context: ../client
      dockerfile: docker/Dockerfile.dev
    ports:
      - "5173:5173"
    networks:
      - Denamu
    volumes:
      - ../client:/var/web05-Denamu/client
      - /var/web05-Denamu/client/node_modules
    develop:
      watch:
        - path: ../client/package.json
          action: rebuild
    environment:
      TZ: "Asia/Seoul"
    profiles:
      - default

  # WAS 서비스
  app:
    build:
      context: ../server
      dockerfile: docker/Dockerfile.dev
    image: denamu-dev-app:latest
    ports:
      - "8080:8080"
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ../server:/var/web05-Denamu/server
      - /var/web05-Denamu/server/node_modules
    environment:
      NODE_ENV: "DEV"
      TZ: "Asia/Seoul"
    develop:
      watch:
        - path: ../server/package.json
          action: rebuild
    profiles:
      - was-dev

  # Feed Crawler 서비스
  feed-crawler:
    build:
      context: ../feed-crawler
      dockerfile: docker/Dockerfile.dev
    image: denamu-dev-feed-crawler:latest
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ../feed-crawler:/var/web05-Denamu/feed-crawler
      - /var/web05-Denamu/feed-crawler/node_modules
    environment:
      NODE_ENV: "DEV"
      TZ: "Asia/Seoul"
    develop:
      watch:
        - path: ../feed-crawler/package.json
          action: rebuild
    profiles:
      - default

  # Email Worker 서비스
  email-worker:
    build:
      context: ../email-worker
      dockerfile: docker/Dockerfile.dev
    image: denamu-dev-email-worker:latest
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ../email-worker:/var/web05-Denamu/email-worker
      - /var/web05-Denamu/email-worker/node_modules
    environment:
      NODE_ENV: "DEV"
      TZ: "Asia/Seoul"
    stop_grace_period: 30s
    develop:
      watch:
        - path: ../email-worker/package.json
          action: rebuild
    profiles:
      - was-dev