name: denamu-production-application

services:
  # WAS 서비스
  app:
    image: ${GHCR_URL}/server:latest
    ports:
      - '$SERVER_PORT:$SERVER_PORT'
    env_file:
      - /var/prod_config/server/.env.prod
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - /var/prod_data/server/logs:/app/logs
      - /var/prod_data/objects:/app/objects
    environment:
      NODE_ENV: 'PROD'
      TZ: 'Asia/Seoul'

  # Feed Crawler 서비스
  feed-crawler:
    image: ${GHCR_URL}/feed-crawler:latest
    env_file:
      - /var/prod_config/feed-crawler/.env.prod
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - /var/prod_data/feed-crawler/logs:/app/logs
    environment:
      NODE_ENV: 'PROD'
      TZ: 'Asia/Seoul'

  # Email Worker 서비스
  email-worker:
    image: ${GHCR_URL}/email-worker:latest
    env_file:
      - /var/prod_config/email-worker/.env.prod
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - /var/prod_data/email-worker/logs:/app/logs
    environment:
      NODE_ENV: 'PROD'
      TZ: 'Asia/Seoul'
    stop_grace_period: 30s

networks:
  Denamu:
    external: true
