name: denamu-local-portfolio

include:
  - docker-compose.infra.yml

services:
  # NGINX + 프론트엔드 빌드
  nginx:
    build:
      context: ../
      dockerfile: client/docker/Dockerfile.local
    ports:
      - '80:80'
      - '443:443'
    networks:
      - Denamu
    depends_on:
      - app
    volumes:
      - ../nginx/logs:/var/log/nginx
    environment:
      TZ: 'Asia/Seoul'

  # WAS 서비스
  app:
    build:
      context: ../server
      dockerfile: docker/Dockerfile.local
    image: denamu-local-portfolio-app:latest
    ports:
      - '8080:8080'
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ../server/logs:/var/web05-Denamu/server/logs
    environment:
      NODE_ENV: 'LOCAL'
      TZ: 'Asia/Seoul'
    profiles:
      - default

  # Feed Crawler 서비스
  feed-crawler:
    build:
      context: ../feed-crawler
      dockerfile: docker/Dockerfile.local
    image: denamu-local-portfolio-feed-crawler:latest
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ../feed-crawler/logs:/var/web05-Denamu/feed-crawler/logs
    environment:
      NODE_ENV: 'LOCAL'
      TZ: 'Asia/Seoul'
    profiles:
      - default

  # Email Worker 서비스
  email-worker:
    build:
      context: ../email-worker
      dockerfile: docker/Dockerfile.local
    image: denamu-local-portfolio-email-worker:latest
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - ../feed-crawler/logs:/var/web05-Denamu/email-worker/logs
    environment:
      NODE_ENV: 'LOCAL'
      TZ: 'Asia/Seoul'
    stop_grace_period: 30s
    profiles:
      - default
