name: denamu-production

include:
  - docker-compose.prod.infra.yml

services:
  # WAS 서비스
  app:
    image: ${APP_IMAGE}:${APP_TAG}
    ports:
      - '8080:8080'
    env_file:
      - /var/prod_config/server/.env.prod
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - /var/prod_data/server/logs:/app/logs
      - /var/prod_data/objects:/app/objects
    environment:
      NODE_ENV: 'PROD'
      TZ: 'Asia/Seoul'

  # Feed Crawler 서비스
  feed-crawler:
    image: ${FEED_CRAWLER_IMAGE}:${FEED_CRAWLER_TAG}
    env_file:
      - /var/prod_config/feed-crawler/.env.prod
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - /var/prod_data/feed-crawler/logs:/app/logs
    environment:
      NODE_ENV: 'PROD'
      TZ: 'Asia/Seoul'

  # Email Worker 서비스
  email-worker:
    image: ${EMAIL_WORKER_IMAGE}:${EMAIL_WORKER_TAG}
    env_file:
      - /var/prod_config/email-worker/.env.prod
    networks:
      - Denamu
    depends_on:
      mysql-db:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    volumes:
      - /var/prod_data/email-worker/logs:/app/logs
    environment:
      NODE_ENV: 'PROD'
      TZ: 'Asia/Seoul'
    stop_grace_period: 30s
