name: Infra Deployment

on:
  push:
    branches:
      - main
    paths:
      - docker-compose/docker-compose.prod*.yml
  workflow_dispatch:

env:
  GHCR_URL: ${{ vars.GHCR }}
  COMPOSE_FILE: docker-compose/docker-compose.prod.yml

jobs:
  deployment:
    runs-on: [self-hosted, prod]
    steps:
      - name: 코드 체크아웃
        uses: actions/checkout@v4

      - name: 인프라 환경변수 및 설정 파일 최신화
        run: |
          sudo mkdir -p /var/prod_config/infra
          sudo install -m 600 /dev/null /var/prod_config/infra/.env.prod
          {
            echo "REDIS_USER=${{ secrets.REDIS_USERNAME }}"
            echo "REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}"
            echo "MYSQL_ROOT_PASSWORD=${{ secrets.PRODUCT_DB_PASSWORD }}"
            echo "MYSQL_DATABASE=${{ secrets.PRODUCT_DB_DATABASE }}"
            echo "MYSQL_USER=${{ secrets.PRODUCT_DB_USERNAME }}"
            echo "MYSQL_PASSWORD=${{ secrets.PRODUCT_DB_PASSWORD }}"
            echo "RABBITMQ_DEFAULT_USER=${{ secrets.PRODUCT_RABBITMQ_DEFAULT_USER }}"
            echo "RABBITMQ_DEFAULT_PASS=${{ secrets.PRODUCT_RABBITMQ_DEFAULT_PASS }}"
            echo "RABBITMQ_HOST=${{ secrets.PRODUCT_RABBITMQ_HOST }}"
            echo "RABBITMQ_PORT=${{ secrets.PRODUCT_RABBITMQ_PORT }}"
            echo "RABBITMQ_MANAGEMENT_PORT=${{ secrets.PRODUCT_RABBITMQ_MANAGEMENT_PORT }}"
            echo "RABBIT_URL=http://${{ secrets.PRODUCT_RABBITMQ_HOST }}:${{ secrets.PRODUCT_RABBITMQ_PORT }}"
          } | sudo tee /var/prod_config/infra/.env.prod >/dev/null

          sudo chmod +x docker-compose/redis-init.sh

      - name: 인프라 서비스 재시작
        run: |
          echo "=== 환경변수 확인 ==="
          echo "GHCR_URL: $GHCR_URL"
          echo "COMPOSE_FILE: $COMPOSE_FILE"

          echo "=== docker-compose config 미리보기 ==="
          docker compose -f "$COMPOSE_FILE" config | grep "image:"

          echo "=== 실제 배포 시작 ==="
          docker compose -f "$COMPOSE_FILE" down
          docker compose -f "$COMPOSE_FILE" up -d
          docker image prune -f || true

          docker compose -f "$COMPOSE_FILE" down
          docker compose -f "$COMPOSE_FILE" up -d
          docker image prune -f || true
