name: Infra Deployment

on:
  push:
    branches:
      - main
    paths:
      - docker-compose/docker-compose.prod.infra.yml
  workflow_dispatch:

env:
  GHCR_URL: ${{ vars.GHCR }}
  COMPOSE_FILE: docker-compose/docker-compose.prod.yml
  INFRA_ENV_FILE: /var/prod_config/infra/.env.prod
  INFRA_ENV_DIR: /var/prod_config/infra

jobs:
  deployment:
    runs-on: [self-hosted, prod]
    steps:
      - name: 코드 체크아웃
        uses: actions/checkout@v4

      - name: GHCR 로그인 (prod)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_GITHUB_TOKEN }}

      - name: 인프라 환경변수 및 설정 파일 최신화
        run: |
          sudo mkdir -p "${{env.INFRA_ENV_DIR}}"
          sudo install -m 600 /dev/null "${{env.INFRA_ENV_FILE}}"
          {
            echo "MYSQL_ROOT_HOST=localhost" # MYSQL
            echo "MYSQL_HOST=${{ secrets.DB_HOST }}" # MYSQL Exporter
            echo "MYSQL_METRIC_PORT=${{ secrets.DB_METRIC_PORT }}" # MYSQL Exporter
            echo "MYSQL_DATABASE=${{ secrets.DB_NAME }}" # MYSQL
            echo "MYSQL_PASSWORD=${{ secrets.DB_PASSWORD }}" # MYSQL
            echo "MYSQL_PORT=${{ secrets.DB_PORT }}" # MYSQL
            echo "MYSQL_ROOT_PASSWORD=${{ secrets.DB_ROOT_PASSWORD }}" # MYSQL
            echo "MYSQL_USER=${{ secrets.DB_USER }}" # MYSQL
            echo "GRAFANA_PORT=${{ secrets.GRAFANA_PORT }}" # Grafana
            echo "NODE_METRIC_PORT=${{ secrets.NODE_METRIC_PORT }}" # Node Exporter
            echo "PROMETHEUS_PORT=${{ secrets.PROMETHEUS_PORT }}" # Prometheus
            echo "RABBITMQ_HOST=${{ secrets.RABBITMQ_HOST }}" # RabbitMQ
            echo "RABBITMQ_DEFAULT_PASS=${{ secrets.RABBITMQ_PASSWORD }}" # RabbitMQ
            echo "RABBITMQ_PORT=${{ secrets.RABBITMQ_PORT }}" # RabbitMQ
            echo "RABBITMQ_METRIC_PORT=${{ secrets.RABBITMQ_METRIC_PORT }}" # RabbitMQ
            echo "RABBITMQ_DEFAULT_USER=${{ secrets.RABBITMQ_USER }}" # RabbitMQ
            echo "REDIS_HOST=${{ secrets.REDIS_HOST }}" # Redis, Redis Exporter
            echo "REDIS_METRIC_PORT=${{ secrets.REDIS_METRIC_PORT }}" # Redis Exporter
            echo "REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}" # Redis
            echo "REDIS_PORT=${{ secrets.REDIS_PORT }}" # Redis, Redis Exporter
            echo "REDIS_USER=${{ secrets.REDIS_USER }}" # Redis, Redis Exporter
            echo "REDIS_ADDR=${{ secrets.REDIS_HOST }}://${{ secrets.REDIS_HOST }}:${{ secrets.REDIS_PORT }}" # Redis Exporter
            echo "SERVER_PORT=${{ secrets.SERVER_PORT}}" # Server Port
            echo "TZ=Asia/Seoul" # ALL
          } | sudo tee "${{env.INFRA_ENV_FILE}}" >/dev/null

          sudo chmod +x docker-compose/redis/redis-init.sh

      - name: 인프라 서비스 재시작
        run: |
          set -a
          source ${{ env.INFRA_ENV_FILE }}
          set +a

          echo "=== 실제 배포 시작 ==="
          docker compose -f "${{env.COMPOSE_FILE}}" down
          docker compose -f "${{env.COMPOSE_FILE}}" up -d
          docker image prune -f || true

          docker compose -f "${{env.COMPOSE_FILE}}" down
          docker compose -f "${{env.COMPOSE_FILE}}" up -d
          docker image prune -f || true
